/* ОБЩЕЕ */

.container {
  display: flex;
  height: 100vh;
  font-family: 'NagelRegular';
  overflow-x: hidden;
  overflow-y: hidden;
}
p {
  font-size: 1.25vw;
  line-height: 1.46vw;
  position: absolute;
}
h3 {
  font-size: 1vw;
  font-size: 1.56vw;
  color: #FC6290;
  z-index: 1;
  position: absolute;
}
h4 {
  font-size: 2.08vw;
  line-height: 2.24vw;
  color: white;
  position: absolute;
  z-index: 5;
}
span {
  font-family: 'LiteraturnayaBoldItalic';
  font-size: 1.35vw;
  color: black;
  z-index: 4;
}

.icon img{
  display: flex;
  filter: blur(4px);
  cursor: pointer;
  transition: 1.5s;
  height: 13.02vw;
  width: 13.02vw;
  margin: 0;
  z-index: 3;
}
.icon img:hover {
  filter: blur(0px);
  transition: 1.5s;
}
.loading, .contacts {
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  left:0;
  background: #FFFCF1;
  opacity: 0;
  z-index: 4;
}
.bubbles {
  display: flex;
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  /* width: 100vw; */
  z-index: 2;
}
.bubbles>div {
  border-radius: 50%;
  filter: blur(4px);
  position: absolute;
}
.nav, .section {
  height: 2.3vh;
  font-family: 'NagelMedium';
  font-size: 1.25vw;
  position: absolute;
  z-index: 4;
}
.nav {
  top: 53vw;
  left: 40vw;
}
.nav a {
  text-decoration: none;
  color: black;
}
.icon {
  display: flex;
  height: 16vw;
  width: 27vw;
  position: absolute;
}
.op {
  opacity: 0;
  /* transition: 3s; */
  animation: showBlock 1s linear forwards;
  animation-play-state: paused;
}
.none {
  display: none;
}
/* ГЛАВНАЯ */
.mainpage {
  background: url(../images/backmain4.png);
  background-position: top;
  background-size: cover;
}
h1 {
  font-family: 'LiteraturnayaItalic';
  font-size: 4.43vw;
  line-height: 4.43vw;
  width: 40.25vw;
  position: absolute;
  top: 4.7vw;
  left: 56.25vw;
  color: black;
  z-index: 4;

}
.n6 + h1{
  top: 47.6vw;
  left: 24.5vw;
}
.n1 {
  position: relative;
  top: 11vw;
  left: 14.3vw;
}
.n1 h3 {
  top: 3vw;
  left: 14vw;
}
.n2 {
  top: 29vw;
  left: 12.3vw;
}
.n2 h3 {
  top: 14vw;
  left: 5.5vw;
}
.n3 {
  top: 22vw;
  left: 32.3vw;
}
.n3 h3 {
  top: 2vw;
  left: 13.7vw;
}
.n4 {
  top: 29vw;
  left: 45.8vw;
}
.n4 h3 {
  top: 4.7vw;
  left: 14.2vw;
}
.n5 {
  top: 17vw;
  left: 60.3vw;
}
.n5 h3 {
  top: 5.7vw;
  left: 14.2vw;
}
.n6 {
  top: 21vw;
  left: 83.3vw;
  width: 13.02vw;
}
.n6 h3 {
  top: 14.2vw;
  left: 5.8vw;
}
.description {
  width: 21.61vw;
  height: 6.25vw;
  z-index: ;
  position: absolute;

  transition: 1s;
  visibility: hidden;
}
.n1:hover .d1{
  visibility: visible;
  top: 39.72vw;
  left: 26.5vw;
  /* display: block; */
  /* opacity: 1; */
}
.bubble_1, .bubble_2, .bubble_4 {
  background-color: #FF82A7;
}
.bubble_3, .bubble_5, .bubble_6 {
  background-color: #66A3FF;
  top: 44vw;
  left: 82vw;
}
.bubble_1, .bubble_5, .bubble_6 {
  height: 8vw;
  width: 8vw;
  top: 11vw;
  left: 89vw;
}
.bubble_2, .bubble_3, .bubble_4 {
  height: 5.21vw;
  width: 5.21vw;
}
.bubble_2 {
  top: 16vw;
  left: 48vw;
}
.bubble_4 {
  top: 36vw;
  left: 30vw;
}
.bubble_5 {
  top: 4vw;
  left: 7vw;
}
.bubble_6 {
  top: 33vw;
  left: 69vw;
}

/* О НАС */
.about {
  background: url(../images/backabout.png);
  background-position: top;
  background-size: cover;
}
.section {
  top: 2vw;
  left: 50vw;
}
.about h3{
  color: #66A3FF;
}
.about .n1 {
  top: 24vw;
  left: 10vw;
}
.about .n1 h3 {
  top: 14vw;
  left: 8vw;
}
.about .n2 {
  top: 24vw;
  left: 40vw;
}
.about .n2 h3 {
  top: 7.5vw;
  left: 14vw;
}
.about .n3 {
  top: 2.5vw;
  left: 72vw;
}
.about .n3 h3 {
  top: 6.5vw;
  left: 14.2vw;
}
.info {
  width: 26.09vw;
  height: 35.94vw;
  position: absolute;
  top: 16.15vw;
  left: 73.91vw;
  z-index: 5;
}
.n1 + p {
  top: 41vw;
  left: 18vw;
}
.n2 + p {
  top: 11.46vw;
  left: 47.76vw;
}
p + p {
  top: 18.46vw;
  left: 47.76vw;
}

.info + h4 {
  left: 80.11vw;
  top: 23.85vw;
}
h4~p {
  color: white;
  position: absolute;
  z-index: 5;
  top: 30vw;
  left: 80vw;
}

/* СОБЫТИЯ */
.events {
  background: url(../images/backevents.png);
  background-position: top;
  background-size: cover;
}
.events .n1 {
  top: 30vw;
  left: 4.3vw;
}
.events .n2 {
  top: 17vw;
  left: 22.3vw;
}
.events .n3 {
  top: 24vw;
  left: 38.3vw;
}
.events .n4 {
  top: 12vw;
  left: 64.8vw;
}
.events .n2 h3 {
  top: -2vw;
  left: 12vw;
}
.events .n3 h3 {
  top: 5.5vw;
  left: 14.7vw;
}
.events .n4 h3 {
  top: -3.3vw;
  left: 9.2vw;
}
.more {
  height: 8.07vw;
  width: 8.07vw;
  filter: blur(4px);
  z-index: 3;
  background-color: #66A3FF;
  border-radius: 50%;
  position: absolute;
  top: 24.06vw;
  left:89.84vw;
  cursor: pointer;

}
.events span {
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 92.4vw;
}
.more + a {
  text-decoration: none;
}
.n3 + p {
  top: 40.94vw;
  left: 50.83vw;
}
.detail {
  width: 13.44vw;
  height: 29.38vw;
  z-index: 5;
  position: absolute;
  top: 19.58vw;
  left: 83.80vw;

}
.detail p {
  padding-top: 1vw;
  color: white;
}
.detail h4 {
  padding-top: 5vw;
}
.detail a {
  display: block;
  padding-top: 1vw;
  font-family: 'LiteraturnayaItalic';
  font-size: 1.35vw;
  padding-top: 7.5vw;
  color: white;
}
.details {
  z-index: 5;
  opacity: 0;
  animation: showBlock 1.2s linear forwards;
  animation-play-state: paused;
}
@keyframes showBlock {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  25% {
    opacity: .65;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    filter: blur(0px);

  }
}
