/* ОБЩЕЕ */
.container {
  display: flex;
  height: 100vh;
  font-family: 'NagelRegular';
  overflow-x: hidden;
  overflow-y: hidden;
}
p {
  font-size: 1.25vw;
  line-height: 1.46vw;
  position: absolute;
}
h3 {
  font-size: 1.56vw;
  line-height: 1.6vw;
  color: #FC6290;
  z-index: 1;
  position: absolute;
}
h4 {
  font-size: 2.08vw;
  line-height: 2.24vw;
  color: white;
  position: absolute;
  z-index: 5;
}
h7 {
  font-family: 'LiteraturnayaItalic';
  font-size: 16.09vw;
  color: #FF82A8;
  filter: blur(4px);
  position: absolute;
  top: 9.11vw;
  left: 18.13vw;
}
h8 {
  font-family: 'NagelMedium';
  font-size: 2.08vw;
  color: #FF82A8;
  position: absolute;
  top: 27.34vw;
  left: 18.13vw;
}
span {
  font-family: 'LiteraturnayaBoldItalic';
  font-size: 1.35vw;
  color: black;
  z-index: 4;
}
.icon img{
  display: flex;
  filter: blur(4px);
  cursor: pointer;
  transition: 1.5s;
  height: 13.02vw;
  width: 13.02vw;
  margin: 0;
  z-index: 3;
}
.icon img:hover {
  filter: blur(0px);
  transition: 1.5s;
}
.contacts {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left:0;
  background: #FFFCF1;
  z-index: 6;
  opacity: .5;
  animation: showBlock_2 1s linear forwards;
  animation-play-state: paused;
}
.bubbles {
  display: flex;
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  z-index: 2;
}
.bubbles>div {
  border-radius: 50%;
  filter: blur(4px);
  position: absolute;
}
.nav, .section {
  height: 2.3vh;
  font-family: 'NagelMedium';
  font-size: 1.25vw;
  position: absolute;
  z-index: 4;
}
.nav {
  top: 53vw;
  left: 40vw;
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: black;
}
.icon {
  display: flex;
  height: 16vw;
  width: 28vw;
  position: absolute;
}
.op {
  opacity: 0;
}
.none {
  display: none;
}
.blur {
  filter: blur(4px);
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFCF1;
  opacity: .9;
  z-index: 7;
}
#preloader.hide-preloader {
  animation: hidePreloader 3s;
}
#preloader.preloader-hidden {
  display: none;
}
#preloader img {
  width: 12vw;
  height: 8.15vw
  opacity: 1;
}

/* ГЛАВНАЯ */
.mainpage {
  background: url(../images/backmain4.png);
  background-position: top;
  background-size: cover;
}
h1 {
  font-family: 'LiteraturnayaItalic';
  font-size: 4.43vw;
  line-height: 4.43vw;
  width: 40.25vw;
  position: absolute;
  top: 4.7vw;
  left: 56.25vw;
  color: black;
  z-index: 4;
}
.n6 + h1{
  top: 47.6vw;
  left: 24.5vw;
}
.n1 {
  position: relative;
  top: 11vw;
  left: 14.3vw;
}
.n1 h3 {
  top: 3vw;
  left: 14vw;
}
.n2 {
  top: 29vw;
  left: 12.3vw;
}
.n2 h3 {
  top: 14vw;
  left: 5.5vw;
}
.n3 {
  top: 22vw;
  left: 32.3vw;
}
.n3 h3 {
  top: 2vw;
  left: 13.7vw;
}
.n4 {
  top: 29vw;
  left: 45.8vw;
}
.n4 h3 {
  top: 4.7vw;
  left: 14.2vw;
}
.n5 {
  top: 17vw;
  left: 60.3vw;
}
.n5 h3 {
  top: 5.7vw;
  left: 14.2vw;
}
.n6 {
  top: 21vw;
  left: 83.3vw;
  width: 13.02vw;
}
.n6 h3 {
  top: 14.2vw;
  left: 5.8vw;
}
.description {
  width: 21.61vw;
  height: 6.25vw;
  z-index: ;
  position: absolute;
  transition: 1s;
  visibility: hidden;
}
.n1:hover .d1{
  visibility: visible;
  top: 39.72vw;
  left: 26.5vw;
}
.bubble_1, .bubble_2, .bubble_4 {
  background-color: #FF82A7;
}
.bubble_3, .bubble_5, .bubble_6 {
  background-color: #66A3FF;
  top: 44vw;
  left: 82vw;
}
.bubble_1, .bubble_5, .bubble_6 {
  height: 8vw;
  width: 8vw;
  top: 11vw;
  left: 89vw;
}
.bubble_2, .bubble_3, .bubble_4 {
  height: 5.21vw;
  width: 5.21vw;
}
.bubble_2 {
  top: 16vw;
  left: 48vw;
}
.bubble_4 {
  top: 36vw;
  left: 30vw;
}
.bubble_5 {
  top: 4vw;
  left: 7vw;
}
.bubble_6 {
  top: 33vw;
  left: 69vw;
}

/* О НАС */
.about {
  background: url(../images/backabout.png);
  background-position: top;
  background-size: cover;
}
.section {
  top: 2vw;
  left: 50vw;
}
.about h3{
  color: #66A3FF;
}
.about .n1 {
  top: 24vw;
  left: 10vw;
}
.about .n1 h3 {
  top: 14vw;
  left: 8vw;
}
.about .n2 {
  top: 24vw;
  left: 40vw;
}
.about .n2 h3 {
  top: 7.5vw;
  left: 14vw;
}
.about .n3 {
  top: 2.5vw;
  left: 72vw;
}
.about .n3 h3 {
  top: 6.5vw;
  left: 14.2vw;
}
.info {
  width: 26.09vw;
  height: 35.94vw;
  position: absolute;
  top: 16.15vw;
  left: 73.91vw;
  z-index: 5;
}
.n1 + p {
  top: 41vw;
  left: 18vw;
}
.n2 + p {
  top: 11.46vw;
  left: 47.76vw;
}
p + p {
  top: 18.46vw;
  left: 47.76vw;
}

.info + h4 {
  left: 80.11vw;
  top: 23.85vw;
}
h4~p {
  color: white;
  position: absolute;
  z-index: 5;
  top: 30vw;
  left: 80vw;
}

/* СОБЫТИЯ */
.events {
  background: url(../images/backevents.png);
  background-position: top;
  background-size: cover;
}
.events .n1 {
  top: 30vw;
  left: 4.3vw;
}
.events .n2 {
  top: 17vw;
  left: 22.3vw;
}
.events .n3 {
  top: 24vw;
  left: 38.3vw;
}
.events .n4 {
  top: 12vw;
  left: 64.8vw;
}
.events .n2 h3 {
  top: -2vw;
  left: 12vw;
}
.events .n3 h3 {
  top: 5.5vw;
  left: 14.7vw;
}
.events .n4 h3 {
  top: -3.3vw;
  left: 9.2vw;
}
.more {
  height: 8.07vw;
  width: 8.07vw;
  filter: blur(4px);
  z-index: 3;
  background-color: #66A3FF;
  border-radius: 50%;
  position: absolute;
  top: 24.06vw;
  left:89.84vw;
  cursor: pointer;
}
.events span {
  font-family: 'LiteraturnayaItalic';
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 92.6vw;
}
.more + a {
  text-decoration: none;
  z-index: 4;
}
.n3 + p {
  top: 40.94vw;
  left: 50.83vw;
}
.detail {
  width: 13.44vw;
  height: 29.38vw;
  z-index: 5;
  position: absolute;
  top: 19.58vw;
  left: 83.80vw;
  display: block;
}
.detail p {
  padding-top: 1vw;
  color: white;
}
.detail h4 {
  padding-top: 5vw;
}
.detail a {
  display: block;
  padding-top: 1vw;
  font-family: 'LiteraturnayaItalic';
  font-size: 1.35vw;
  padding-top: 7.5vw;
  color: white;
}
.details {
  z-index: 5;
  animation: showBlock 1.2s linear forwards;
  animation-play-state: paused;
}
.eventsmore {
  background: url(../images/backevents2.png);
  background-position: top;
  background-size: cover;
}
.eventsmore .n5 {
  top: 23vw;
  left: 19.3vw;
}
.eventsmore .n5 h3 {
  top: 13vw;
  left: 10.2vw;
}
.eventsmore .n6 {
  top: 17vw;
  left: 46.3vw;
}
.n7 {
  top: 12vw;
  left: 71.3vw;
}
.eventsmore .n7 h3 {
  top: 9.2vw;
  left: 13.8vw;
}
.n7 + p {
  top: 40.94vw;
  left: 50.83vw;
}
.eventsmore .more {
  left:1.9vw;
}
.eventsmore span {
  font-family: 'LiteraturnayaItalic';
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 3.9vw;
}

/* МАГАЗИН */
.shop {
  background: url(../images/backshop.png);
  background-position: top;
  background-size: cover;
}
.shop h3 {
  color: #66A3FF;
}
.shop .n1 {
  top: 29vw;
  left: 4.3vw;
}
.shop .n1 h3{
  top: 13.5vw;
  left: 9vw;
}
.shop .n2 {
  top: 17vw;
  left: 21.3vw;
}
.shop .n2 h3 {
  top: 0vw;
  left: 12.5vw;
}
.shop .n3 {
  top: 24vw;
  left: 37.3vw;
}
.shop .n3 h3 {
  top: 6vw;
  left: 14.5vw;
}
.shop .n4 {
  top: 11vw;
  left: 64.8vw;
}
.shop .n4 h3 {
  top: 7.3vw;
  left: 14.3vw;
}
.shop .n3 + p {
  top: 36.82vw;
  left: 50.52vw;
}
.shop .more {
  background-color: #FF82A7;
}
.shop span {
  font-family: 'LiteraturnayaItalic';
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 92.6vw;
}
.shop .detail {
  width: 19.11vw;
  height: 27.08vw;
  z-index: 5;
  position: absolute;
  top: 20.78vw;
  left: 80.16vw;
  display: block;
}
.shopmore .detail {
  width: 19.11vw;
  height: 27.08vw;
  z-index: 5;
  position: absolute;
  top: 20.78vw;
  left: 80.16vw;
  display: block;
}
.shop .detail p {
    padding-left: 2vw;
}

.shopmore .detail p {
    padding-left: 2vw;
}
.shop .detail h4 {
    padding-left: 2vw;
}
.shopmore .detail h4 {
    padding-left: 2vw;
}
.shopmore .detail a {
  padding-left: 2vw;
}
.shop .detail a {
  padding-left: 2vw;
}
.shopmore {
  background: url(../images/backshop2.png);
  background-position: top;
  background-size: cover;
}
.shopmore .more {
  background-color: #FF82A7;
  left:1.9vw;
}
.shopmore span {
  font-family: 'LiteraturnayaItalic';
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 3.9vw;
}
.shopmore .n5 {
  top: 23vw;
  left: 19.3vw;
}
.shopmore .n5 h3 {
  top: 13vw;
  left: 10.2vw;
}
.shopmore .n6 {
  top: 17vw;
  left: 46.3vw;
}
.n7 {
  top: 12vw;
  left: 71.3vw;
}
.shopmore .n7 h3 {
  top: 9.2vw;
  left: 13.8vw;
}
.n7 + p {
  top: 36.82vw;
  left: 50.52vw;
}

/* УСЛУГИ */
.services {
  background: url(../images/backservices.png);
  background-position: top;
  background-size: cover;
}
.servicesmore {
  background: url(../images/backservices2.png);
  background-position: top;
  background-size: cover;
}
.round {
  height: 13.02vw;
  width: 13.02vw;
  background-color: #FF82A7;
  transition: 1.5s;
  border-radius: 50%;
  filter: blur(4px);
  z-index: 4;
}
.round:hover {
  filter: blur(0px);
  transition: 1.5s;
}
.services .n1 {
  top: 30vw;
  left: 10.3vw;
}
.services .n1 h3 {
  top: 2.5vw;
  left: 14vw;
}
.services .n2 {
  top: 18vw;
  left: 53.3vw;
}
.services .n2 h3 {
  top: -2vw;
  left: 12.5vw;
}
.services .n3 {
  top: 2vw;
  left: 69.3vw;
}
.services .n3 h3 {
  top: 5vw;
  left: 14.5vw;
}
.servicesmore .n4 {
  top: 11vw;
  left: 64.8vw;
}
.servicesmore .n4 h3 {
  top: 7.3vw;
  left: 14.3vw;
}
.services .n1 + p {
  top: 11.56vw;
  left: 16.15vw;
}
.servicesmore .n4 + p {
  top: 11.56vw;
  left: 16.15vw;
}
.services .n3 + p {
  top: 41.61vw;
  left: 35.26vw;
}
.servicesmore .n6 + p {
  top: 41.61vw;
  left: 35.26vw;
}
.services .more {
  background-color: #66A3FF;
}
.services span {
  font-family: 'LiteraturnayaItalic';
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 92.6vw;
}
.services .detail {
  width: 20.83vw;
  height: 12.50vw;
  z-index: 5;
  position: absolute;
  top: 26.51vw;
  left: 77.29vw;
  display: block;
}
.services .detail p {
  padding-left: 2vw;
}
.services .detail h4 {
  padding-top: 14vw;
  padding-left: 2vw;
}
.servicesmore .detail h4 {
  padding-top: 14vw;
  padding-left: 2vw;
}
.services .detail a {
  padding-top: 16.8vw;
  padding-left: 2vw;
}
.servicesmore .detail a {
  padding-top: 16.8vw;
  padding-left: 2vw;
}
h5 {
  font-family: 'LiteraturnayaItalic';
  font-size: 7.92vw;
  letter-spacing: -1.5vw;
  width: 8.96vw;
  position: absolute;
  top: 2.7vw;
  left: 4.25vw;
  color: white;
  z-index: 5;
}
.n3 h5 {
  left: 2.5vw;
}
.servicesmore .n4 {
  top: 26vw;
  left: 15.3vw;
}
.servicesmore .n4 h5 {
  letter-spacing: -0.5vw;
  left: 2.25vw;
}
.servicesmore .n4 h3 {
  top: 6.7vw;
}
.servicesmore .n6 h5 {
  left: 2.5vw;
}
.servicesmore .n5 h3 {
  top: -1.9vw;
  left: 11.8vw;
}
.servicesmore .n6 h3 {
  top: 7.8vw;
  left: 14vw;
}
.servicesmore .n5 {
  top: 12vw;
  left: 43.3vw;
}
.servicesmore .n6 {
  top: 4vw;
  left: 70.3vw;
}
.servicesmore .more {
  background-color: #FF82A7;
  left:1.9vw;
}
.servicesmore span {
  font-family: 'LiteraturnayaItalic';
  color: white;
  position: absolute;
  top: 27.4vw;
  left: 3.9vw;
}
.servicesmore .detail {
  width: 23.83vw;
  height: 12.50vw;
  z-index: 5;
  position: absolute;
  top: 24.51vw;
  left: 77.29vw;
  display: block;
}
.servicesmore .detail p {
  padding-left: 2vw;
}

/* КОНТАКТЫ */
.information {
  margin: 18.65vw 36.51vw;
  display: inline-block;
  text-align: center;

}
h6 {
  font-family: 'NagelRegular';
  font-size: 1.56vw;
  color: #FC6290;
}
h6 + p {
  font-family: 'LiteraturnayaBoldItalic';
  font-size: 1.35vw;
  line-height: 1.93vw;
  padding-top: 2.08vw;
  position: relative;
}
p + h6 {
  padding-top: 3.91vw;
}

/* 404 */
.for404 {
  background: url(../images/er404.png);
  background-position: top;
  background-size: cover;
}
.for404 .ellipse {
  height: 13.02vw;
  width: 13.02vw;
  background-color: #FF82A7;
  border-radius: 50%;
  margin: 28.2vw 0 0 67.3vw;
  filter: blur(4px);

}
.for404 a {
  font-family: 'LiteraturnayaBoldItalic';
  text-decoration: none;
  color: white;
  position: absolute;
  top: 34vw;
  left: 69.5vw;
  font-size: 1.56vw;
}

/* ЗАПИСЬ */
.booking {
  background: url(../images/backbooking.png);
  background-position: top;
  background-size: cover;
}
form {
  width: 40vw;
  margin: 18.39vw 0 0 18.13vw;
}
.name,
.telephone,
.submit a,
.radio
 {
  width: 14.8vw;
  height: 4.38vw;
  display: inline-block;
}

.input [type="tel"],
.input [type="email"],
.input [type="text"] {
  display: inline-block;
  width: 14.6vw;
  font-family: 'NagelRegular';
  font-size: 1.56vw;
  border: none;
  background: none;
  padding-bottom: .7vw;

}
input::placeholder {
  color: #66A3FF;
}
.radio p, label {
  font-family: 'NagelRegular';
  font-size: 1.25vw;
  line-height: 1.46vw;
}
.booking h8 {
  color: #66A3FF;
  top: 8.02vw
}
.submit {
  padding-top: 4.06vw;

}
.submit > div{
  display: inline-block;
}
a + div {
}
.radio {
  padding-top: 2.06vw;
}
.submit a {
  font-family: 'LiteraturnayaBoldItalic';
  font-size: 1.35vw;
  color: black;
  width: 14.6vw;
  height: 1.35vw;
  text-decoration: none;
  cursor: pointer;
}
button {
  height: 13.02vw;
  width: 13.02vw;
  border-radius: 50%;
  border: none;
  background-color: #66A3FF;
  filter: blur(4px);
  margin: -4vw 0 0 50vw;
  cursor: pointer;
}
button + p {
  font-family: 'LiteraturnayaBoldItalic';
  font-size: 1.56vw;
  color: white;
  margin: -7.3vw 0 0 51.9vw;
}
.send .ellipse {
  background-color: #66A3FF;
  animation: scaleBlock 1s linear forwards;
  animation-play-state: paused;
  height: 13.02vw;
  width: 13.02vw;
  border-radius: 50%;
  margin: 28.2vw 0 0 67.3vw;
  filter: blur(4px);
}

/* АНИМАЦИИ */
@keyframes showBlock {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  25% {
    opacity: .65;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes scaleBlock {
  0% {
    transform: scale(1.0);
    filter: blur(4px);
  }
  100% {
    transform: scale(0.3);
    filter: blur(0px);
  }
}
@keyframes showBlock_2 {
  0% {

    filter: blur(4px);
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: .65;
  }
  100% {
    opacity: .95;
    filter: blur(0px);
  }
}
@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
